{% extends "parent.html" %}

{% block body %}
<div id="home-screen">
    <section id="title-container">
        <a href="https://codenames.game"><h1><i class="accent1">CODE</i> <i class="accent2">NAMES</i></h1></a>
    </section>
    <section id="join-input-container" class="center vertical">
        <form id="room-name-form" class="center vertical">
            <input type="text" id="username-input-field" name="username" placeholder="username">
            <input type="text" name="roomcode" placeholder="room code">
        </form>
        <button id="submit-button">create room</button>
    </section>
    <section id="room-list-container">
        {% for room in rooms%}
        <div class="available-room glass center">
            <p>{{ room.players }}<i data-feather="user" class="test"></i></p>
            <p id="room-code-text">{{ room.code }}</p>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock body %}

{% block scripts%}
{{ super() }}
<script src="/join.js" type="module"></script>
{% endblock scripts %}