{% extends "parent.html" %}

{% block body %}
<section class="center-contents">
    <div id="main-input" class="popup">
        <div id="auth">
            <div id="game-title-container">
                <h1 id="game-title-1">CODE</h1><h1 id="game-title-2">NAMES</h1>
            </div>
            <form id="room-name-form" class="center-contents column-wise">
                <input type="text" name="username" placeholder="username">
                <input type="text" name="roomcode" placeholder="room code">
            </form>
            <button id="enter-room" class="large">create room</button>
        </div>
    </div>
</section>
{% endblock body %}