{% extends "parent.html" %}

{% block body %}
<div id="room">
    <section id="game-board">
        
    </section>
    <section id="team1-container"></section>
    <section id="team2-container"></section>
    <section id="game-log"></section>
    <section id="input-field"></section>
</div>
<div class="popup vertical">
    <h1><i class="accent1">CODE</i> <i class="accent2">NAMES</i></h1>
    <div id="host-settings">
        <div id="team-settings">
            <h2>Team settings</h2>
            <button id="randomize-teams" class="small">randomize</button>
            <button id="reset-teams" class="small">reset</button>
        </div>
        <div id="game-settings">
            <h2>Game settings</h2>
            <input type="text" placeholder="language">
        </div> 
        <button id="start-game">start game</button>
    </div>
    <button id="leave-game">leave game</button>     
</div>
<!-- <section class="center-contents">
    <div id="main-input" class="popup">
        <div id="lobby">
            <div id="team-settings">
                <p id="team-settings-label">Team settings</p>
                <button id="randomize-teams" class="small">randomize</button>
                <button id="reset-teams" class="small">reset</button>
            </div>
            <div id="start-and-leave">
                <button id="start-game" class="large special">Start Game</button>
            </div>
            <div id="game-settings">
                <input type="text" placeholder="language">
            </div>
        </div>
    </div>
</section> -->
{% endblock body %}

{% block scripts %}
<script src="/room.js" type="module"></script>
{% endblock scripts %}