{% extends "parent.html" %}

{% block body %}
<div id="room-container">
    <section id="top-left-container" class="center">
        <a href="/"><h2><i class="accent1">CODE</i> <i class="accent2">NAMES</i></h2></a>
    </section>
    <section id="game-board" class="center">
        <div id="host-settings" class="hide center vertical frame">
            <div id="team-settings" class="center vertical">
                <h3>Team settings</h3>
                <button id="randomize-teams" class="small">randomize</button>
                <button id="reset-teams" class="small">reset</button>
            </div>
            <div id="game-settings" class="center vertical">
                <h3>Game settings</h3>
                <input type="text" placeholder="language">
            </div> 
            <button id="start-game">start game</button>
        </div>
    </section>
    <section id="top-right-container" class="frame center">
        <h3 id="status-indicator">Waiting for players . . .</h3>
    </section>
    <section id="team1-container" class="frame team-container">
        <h3 id="team1-name">Team 1</h3>
        <div class="role-container operative-container">
            <div class="center team-join-container">
                <p>Operative(s)</p>
                <button id="join-team1-operative" class="join-team-button">join</button>
            </div>
            <div id="team1-operative" class="center team-list"></div>
        </div>
        <div class="role-container spymaster-container">
            <div class="center team-join-container">
                <p>Spymaster(s)</p>
                <button id="join-team1-spymaster" class="join-team-button">join</button>
            </div>
            <div id="team1-spymaster" class="center team-list"></div>
        </div>
    </section>
    <section id="team2-container" class="frame team-container">
        <h3 id="team2-name">Team 2</h3>
        <div class="role-container operative-container">
            <div class="center team-join-container">
                <p>Operative(s)</p>
                <button id="join-team2-operative" class="join-team-button">join</button>
            </div>
            <div id="team2-operative" class="center team-list"></div>
        </div>
        <div class="role-container spymaster-container">
            <div class="center team-join-container">
                <p>Spymaster(s)</p>
                <button id="join-team2-spymaster" class="join-team-button">join</button>
            </div>
            <div id="team2-spymaster" class="center team-list"></div>
        </div>
    </section>
    <section id="game-info" class="frame">
        <div id="game-log">
            <ul id="log-contents"></ul>
            <form id="log-input" class="center">
                <input type="text" id="log-input-field" placeholder="say something">
            </form>
        </div>
        <h3>Spectators</h3>
        <div id="spectators" class="center"></div>
    </section>
    <section id="bottom-left-container" class="center">
        <h2>{{ roomCode }}</h2>
        <img src="/images/copy.png" id="copy-room-code" alt="">
    </section>
    <section id="bottom-right-container" class="center">
        <form action="/">
            <button id="leave-game">leave game</button>
        </form>
    </section>
    <section id="spymaster-clue-container" class="hide center frame">
        <input type="text" id="clue-input-field">
        <select id="referenceCount-selection">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <button id="give-clue-button">Give clue</button>
    </section>
</div>
{% endblock body %}

{% block scripts %}
{{ super() }}
<script src="/room.js" type="module"></script>
{% endblock scripts %}