@import url("/styles.css");

#home-screen {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 3fr 2fr;
    grid-column-gap: 0px;
    width: 100%;
    height: 100%;
}

#title-container {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: end;
}

#join-input-container {
    grid-area: 2 / 2 / 3 / 3;
}

#room-list-container {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.available-room {
    font-size: 2rem;
    padding: 10px;
    gap: 10px;
}

.available-room:hover {
    transform: scale(0.95);
}

#room-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr repeat(2, 2fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
}

#game-board {
    grid-area: 1 / 2 / 4 / 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    padding: 15px;
}

#host-settings {
    grid-area: 1 / 1 / 26 / 26;
}

#team1-container {
    grid-area: 2 / 1 / 3 / 2;
}

#team2-container {
    grid-area: 3 / 1 / 4 / 2;
}

#game-info {
    grid-area: 2 / 3 / 4 / 4;
}

#input-field {
    grid-area: 4 / 2 / 5 / 3;
}

#top-left-container {
    grid-area: 1 / 1 / 2 / 2;
}

#top-right-container {
    grid-area: 1 / 3 / 2 / 4;
}

#bottom-left-container {
    grid-area: 4 / 1 / 5 / 2;
}

#bottom-right-container {
    grid-area: 4 / 3 / 5 / 4;
}

.agent-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px; 
}

.agent-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.flip {
    transform: rotateY(180deg); 
}

.agent-card-front, .agent-card-back {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
}

.agent-card-front {
    background: linear-gradient(0deg, 
        var(--light-gray) 0%, var(--light-gray) 10%, 
        var(--white) 10%, var(--white) 60%, 
        var(--light-gray) 60%, var(--light-gray) 100%
    );
}

.agent-card-front.team1 {
    background: linear-gradient(0deg, 
        var(--accent1) 0%, var(--accent1) 10%, 
        var(--white) 10%, var(--white) 60%, 
        var(--accent1) 60%, var(--accent1) 100%
    );
}

.agent-card-front.team2 {
    background: linear-gradient(0deg, 
        var(--accent2) 0%, var(--accent2) 10%, 
        var(--white) 10%, var(--white) 60%, 
        var(--accent2) 60%, var(--accent2) 100%
    );
}

.agent-card-front.assassin {
    background: linear-gradient(0deg, 
        var(--black) 0%, var(--black) 10%, 
        var(--white) 10%, var(--white) 60%, 
        var(--black) 60%, var(--black) 100%
    );
}

.agent-card-back {
    /* background-color: inherit; */
    background-color: var(--light-gray);
    transform: rotateY(180deg);
}

.team1 {
    background-color: var(--accent1);
}

.team2 {
    background-color: var(--accent2);
}

.assassin {
    background-color: var(--black);
}

.agent-card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
}

/* .agent-card:has(img) {
    background-color: rgba(200,0,0,0.5);
} */

.name-label1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

.name-label2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}

.agent-codename {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--black);
}