:root {
    --transparent: rgba(255, 255, 255, 0.4);
}

body { 
    /* overflow: hidden; */
    background-color:darkslategrey;
}

.hide {
    display: none !important;
}

.center-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.prompt-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    background-color: var(--transparent);
    padding: 1rem;

    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 80%;
  }