@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100&display=swap');

:root {
    --transparent: rgba(0, 0, 0, 0.4);
    --black: #020202ff;
    --black2: rgb(40, 40, 37);
    --dark-gray: rgb(81, 79, 70);
    --light-gray: #878472ff;
    --accent1: #06aed5ff;
    --accent2: #ad343eff;
    --white: #fffbfaff;
    font-family: "Pathway Extreme";
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    /* overflow: hidden; */
    background: var(--black2);
}

p {
    margin: 0;
    color: var(--white);
}

h1 {
    font-size: 4rem
}

h2 {
    font-size: 3rem;
    color: var(--white);
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    color: var(--white);
}

a {
    text-decoration: none;
}

.hide {
    display: none !important;
    grid-area: 0 / 0 / 0 / 0 !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.accent1 {
    color: var(--accent1);
}

.accent2 {
    color: var(--accent2);
}

.frame {
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(11.1px);
    border: 1px solid rgba(255, 255, 255, 0.31);
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(11.1px);
    border: 1px solid rgba(255, 255, 255, 0.31);
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(11.1px);
    border: 1px solid rgba(255, 255, 255, 0.31);
}

.host-badge {
    width: 20px;
    height: 20px;
}